<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('board_list')"></head>

<body>
<nav th:replace="fragments/common :: nav_bar('board_list')"></nav>

<div class="container">
    <h2>게시판</h2>
    <div>총 건수 : <span th:text="${boards.totalElements}"></span></div>

    <form class="form-inline d-flex justify-content-end" method="get" th:action="@{/board/list}">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
        </div>
        <button type="submit" class="btn btn-light mb-2">검색</button>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">

            <th th:text="${board.id}">번호</th>
            <th><a th:href="@{form(id=${board.id})}" th:text="${board.title}">제목</a></th>
            <th th:text="${board.content}">내용</th>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${0 == boards.pageable.pageNumber} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber - 1}, searchText=${param.searchText})}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#"  th:href="@{/board/list(page=${i - 1}, searchText=${param.searchText})}"th:text="${i}">1</a>
            </li>
            <li class="page-item" th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
            </li>
        </ul>
    </nav>

    <div class="d-flex justify-content-end">
        <a type="button" class="btn btn-primary" th:href="@{form}">글 쓰기</a>
    </div>
</div>


</body>

</html>